@use "variables" as *;

.contribution {
  position: relative;

  display: block;

  .headline {
    margin-bottom: 30px;
  }

  &__inner {
    display: grid;

    padding-top: 80px;

    grid-template-areas:
      "title title title"
      "list-left border list-right";
    grid-template-columns: 1fr 0.25fr 1fr;
  }
  .headline {
    grid-area: title;
  }

  &__list-left {
    display: flex;

    padding-top: 20px;

    grid-area: list-left;
    flex-direction: column;
    gap: 54px;
    align-items: end;
  }

  &__item {
    position: relative;

    display: grid;

    width: 300px;
    height: 100px;
    padding: 10px;

    background-color: #ebe8e8;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    grid-gap: 10px;

    &::before {
      position: absolute;
      top: 15px;
      right: -40px;

      content: "";

      border: 15px solid transparent;
      border-left: 25px solid #ebe8e8;
    }
  }

  &__place {
    text-transform: uppercase;

    color: $brown;

    font-family: $font1;
    font-size: 16px;
    font-weight: 700;
  }

  &__major {
    color: $black;

    font-family: $font1;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
  }

  &__border {
    display: flex;

    width: 8px;
    height: 700px;
    padding-top: 42px;

    background-color: #ebe8e8;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    grid-area: border;
    justify-self: center;
    flex-direction: column;
    gap: 52px;
  }

  &__border-circle {
    width: 24px;
    height: 24px;
    margin-left: -8px;

    border-radius: 50%;
    background-color: $brown;
  }

  &__list-right {
    display: flex;
    flex-direction: column;

    padding-top: 96px;

    grid-area: list-right;
    gap: 54px;
  }

  &__item--right {
    &::before {
      position: absolute;
      top: 15px;
      right: 298px;

      content: "";

      border: 15px solid transparent;
      border-right: 25px solid #ebe8e8;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1279px) {
  .contribution {
    &__inner {
      grid-gap: 20px;
    }

    &__item {
      width: 220px;
      grid-gap: 4px;
    }

    &__item--right {
      &::before {
        right: 210px;
      }
    }

    &__major {
      font-size: 13px;
      line-height: 18px;
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .contribution {
    .headline {
      margin: 0;
    }

    &__item--right {
      &:nth-child(1) {
        order: 1;
      }
      &::before {
        position: absolute;
        top: 15px;
        right: -40px;

        content: "";

        border: 15px solid transparent;
        border-left: 25px solid #ebe8e8;
      }
    }

    &__inner {
      grid-gap: 44px;
      grid-template-areas:
        "title title"
        "list-left border"
        "list-right border";
      grid-template-columns: 3fr 1fr;
    }

    &__list-left {
      padding: 0;

      .contribution__item {
        width: 250px;
        grid-gap: 2px;

        &:nth-child(2) {
          order: 1;
        }
      }
    }

    &__list-right {
      padding: 0;

      align-items: end;

      .contribution__item {
        width: 250px;
      }
    }

    &__border {
      height: auto;
      padding-top: 20px;

      gap: 128px;
      justify-self: start;
    }

    &__place {
      font-size: 14px;
    }

    &__major {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .contribution {
    .headline {
      margin: 0;
    }

    &__item--right {
      &:nth-child(1) {
        order: 1;
      }
      &::before {
        position: absolute;
        top: 15px;
        right: -40px;

        content: "";

        border: 15px solid transparent;
        border-left: 25px solid #ebe8e8;
      }
    }

    &__inner {
      justify-content: center;

      grid-gap: 44px;
      grid-template-areas:
        "title title"
        "list-left border"
        "list-right border";
      grid-template-columns: 2.7fr 1fr;
    }

    &__list-left {
      padding: 0;

      .contribution__item {
        width: 250px;
        grid-gap: 4px;

        &:nth-child(2) {
          order: 1;
        }
      }
    }

    &__list-right {
      padding: 0;

      align-items: end;

      .contribution__item {
        width: 250px;
      }
    }

    &__border {
      height: auto;
      padding-top: 20px;

      grid-gap: 128px;
      justify-self: start;
    }

    &__place {
      font-size: 14px;
    }

    &__major {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

@media (min-width: 320px) and (max-width: 499px) {
  .contribution {
    display: grid;
    justify-content: center;

    .headline {
      margin: 0;
    }

    &__item--right {
      &:nth-child(1) {
        order: 1;
      }
      &::before {
        position: absolute;
        top: 15px;
        right: -40px;

        content: "";

        border: 15px solid transparent;
        border-left: 25px solid #ebe8e8;
      }
    }

    &__inner {
      width: 300px;

      grid-gap: 44px;
      grid-template-areas:
        "title title"
        "list-left border"
        "list-right border";
      grid-template-columns: 4fr 1fr;
    }

    &__list-left {
      padding: 0;

      .contribution__item {
        width: 180px;
        height: 110px;

        &:nth-child(2) {
          order: 1;
        }
      }
    }

    &__list-right {
      padding: 0;

      align-items: end;

      .contribution__item {
        width: 180px;
        height: 110px;
        grid-gap: 2px;
      }
    }

    &__border {
      height: auto;
      padding-top: 20px;

      grid-gap: 138px;
      justify-self: start;
    }

    &__place {
      font-size: 13px;
    }

    &__major {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
