@use "variables" as *;

.portfolio {
  position: relative;

  display: block;

  &__inner {
    padding: 64px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;

    padding: 40px 0 0 60px;

    gap: 40px;
  }

  &__item {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  &__link {
    position: relative;
    width: 260px;
    height: 180px;

    flex-shrink: 0;

    &:hover {
      z-index: 2;

      border-radius: 10%;
      background-color: #000000;

      .portfolio__img--eye {
        display: block;
      }
    }
  }

  &__img {
    z-index: 1;

    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border: 4px solid $brown;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__img--eye {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 50px;
    margin: auto;
  }

  &__block-text {
    flex: 1;
    min-width: 0;
    font-family: $font2;
  }

  &__title {
    display: block;
    width: 100%;

    margin-top: 10px;

    text-align: center;

    color: $brown;

    font-size: 20px;
    font-weight: 600;

    &:hover {
      opacity: 0.5;
    }
  }

  &__desc {
    width: 100%;
    font-size: 18px;
    margin-top: 15px;
    padding: 0 15px;
    text-align: center;
    font-weight: 500;
  }
}

@media (min-width: 1000px) and (max-width: 1279px) {
  .portfolio {
    &__list {
      gap: 70px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      width: 220px;
      height: 150px;
    }
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .portfolio {
    &__list {
      gap: 70px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      width: 220px;
      height: 150px;
    }

    &__title {
      font-size: 18px;
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .portfolio {
    &__list {
      gap: 60px;
      padding: 30px 0 0 0;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      width: 220px;
      height: 150px;
    }

    &__title {
      font-size: 22px;
    }

    &__block-text {
      width: 85%;
    }
  }
}

@media (min-width: 320px) and (max-width: 499px) {
  .portfolio {
    &__list {
      gap: 60px;
      padding: 30px 0 0 0;
    }

    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      width: 190px;
      height: 120px;
    }

    &__block-text {
      width: 85%;
    }

    &__title {
      font-size: 17px;
    }

    &__desc {
      font-size: 15px;
    }
  }
}
