@use "reset.scss";
@use "font-face.scss";
@use "styles.scss";
@use "title.scss";
@use "header.scss";
@use "work.scss";
@use "languages.scss";
@use "contribution.scss";
@use "awards.scss";
@use "portfolio.scss";
@use "about.scss";
@use "skills.scss";
@use "footer.scss";
